@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

<style>
    /* Styles for the form */
    h1, h2 {
        color: #550964;
        text-align: center;
    }

    /* Styling for the form inputs */
    .form-floating input[type="email"] {
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 10px 30px 10px 10px;
        width: 100%;
        margin-bottom: 10px;
    }

    .form-floating label {
        color: #550964;
        left: 50%;
        transform: translateX(-50%);
    }

    .form-floating input::placeholder {
        color: #aaa;
        text-align: center;
    }

    /* Styling for the Reset Password button */
    .btn-primary {
        background-color: #550964;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .btn-primary:hover {
            background-color: #410852;
        }
</style>

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <i class="fas fa-envelope fa"></i>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset Password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
